.mapboxgl-ctrl-group {
  pointer-events: auto; 
  background-color: rgb(162, 230, 148);
}

/* Target the main geocoder container */
.maplibregl-ctrl-geocoder {
  width: auto; /* Make it wider */
  max-width: 600px;
}

/* Make the input text larger */
.maplibregl-ctrl-geocoder--input {
  font-size: 18px;
  height: 45px;
  caret-color: rgb(1, 52, 23);
  color: rgb(0, 102, 19);
  padding: 10px 10px !important; /* adjust for the search icon */
}

.maplibregl-ctrl-geocoder .suggestions {
  font-size: 16px;
}

.maplibregl-ctrl-geocoder .suggestions > li > a {
  padding: 12px; /* Makes each result item "taller" */
}

.maplibregl-ctrl-geocoder--result-icon {
  width: 30px !important;  /* Default is usually around 20px */
  height: 30px !important;
  margin-right: 15px;      /* Add space so it doesn't crowd the text */
}

.maplibregl-ctrl-geocoder--icon {
  width: 10 px;
}


.maplibregl-ctrl-geocoder--icon-search {
  width: 10 px;
}